<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zxy.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".HeadLinesActivity">

        </activity>

        <activity android:name="com.zxy.view_touch.TouchViewActivity">

        </activity>
        <activity android:name="com.zxy.view_lifestyle.LifeStyleViewActivity">



        </activity>

        <activity android:name="com.zxy.view_computescroll.ScrollActivity">

        </activity>

        <activity android:name="com.zxy.view_pull_to_refresh.PullToRefreshActivity">

        </activity>

        <activity android:name="com.zxy.view_one.OneActivity">

        </activity>
        <activity android:name=".test_view_lifecycle.TestViewLifeCycleActivity">

        </activity>

        <activity android:name="com.zxy.view_other_thread.ViewOtherThreadActivity">

        </activity>

        <activity android:name="com.zxy.view_gradient.GradientActivity">

        </activity>

        <activity android:name="com.zxy.view_lifestyle.AActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.zxy.view_lifestyle.BActivity"
                android:launchMode="singleInstance">

        </activity>
        <activity android:name="com.zxy.view_lifestyle.CActivity">

        </activity>
    </application>

</manifest>
